/.bundle
/db/*.sqlite3
/log/*.log
/tmp
Gemfile.lock
.DS_Store
TRASH*
.bundle
.sass-cache/
config/database.yml
db/schema.rb
tmp/**/*
coverage
doc/api
doc/app
doc/plugins
log/[^.]*
vendor/plugins/selenium-on-rails/log/*
mkmf.log
public/system
vendor/old_plugins
config/database.yml.mine
*~
.dropbox
