#overview.hero-unit
  %h1 A peek into Tony Watson
  %p I'm a multi-faceted, intelligent character.
  
%p My first programming project was a Microsoft Access '95 database and front-end to manage my baseball card collection. At any time I could see how many cards I had, how much my collection was worth and which cards were worth the most money! Since then, I've worked on a series of projects over the years. I am mostly self-taught in an array of languages and frameworks from semantic HTML / Javascript to Flash / ActionScript to PHP / MySQL to C# .NET / SQL Server to my current favorite Ruby on Rails.

%p
  I love Ruby because it is such a simple yet powerful language to work with! Coupled with the Rails framework, I've been able to create some exciting applications that each have had its challenges, but were such a wonderful experience building. As a matter of fact, this site here was programmed in Ruby and is available for download at my github: #{link_to 'github.com/tonywatson', 'http://www.github.com/tonywatson', :target => '_blank'}

%br