#overview.hero-unit
  %h1 One Man Band
  %p This is a compilation of some of my latest work.

- @projects.each do |project|
  = render :partial => '/projects/show', :locals => {:project => project}

%br
%br