.thumbnail
  = image_tag "/assets/projects/katy.jpg"
  .caption
    %h3= project.name
    %p= project.caption
    %i.icon-beaker
    Design | HTML | CSS | JQuery
    .clear
    .action
      %btn.btn
        %i.icon-eye-open
        view project