#overview.hero-unit
  %h2 Projects
  %p This is a compendium of my work. I designed most of the projects here and programmed all of them.

= render 'partials/notices'

- @projects.each do |project|
  = render :partial => 'show', :locals => {:project => project} if project.has_images

%br

= link_to 'New Project', new_project_path if current_user

%br